.ProfilePage {
  font-family: Arial, sans-serif;
  padding: 0 20px;
}

h3 {
  font-weight: 700;
  margin-bottom: 30px;
}

.ProfilePage-name, .ProfilePage-phone, .ProfilePage-email {
  margin-bottom: 20px;
}
