.Basket {
  display: flex;
  flex-direction: column;
}

.Basket-total {
  display: flex;
  justify-content: flex-end;
  gap: 63px;
  transition: background-color 1s;
  padding: 20px 0;
  margin-bottom: 50px;
}

.Basket-total-text, .Basket-total-price {
  font-family: Arial sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.Basket-total-price {
  padding-right: 90px;
}


