/* Пункт списка */
.ItemBasket {
  display: flex;
  justify-content: space-between;
  transition: background-color 1s;
  padding-left: 10px;
}

.ItemBasket-code {
  padding: 20px 10px 20px 20px;
}

.ItemBasket-nav {
  text-decoration: none;
}

.ItemBasket-title {
  position: relative;
  padding: 20px 10px;
}

.ItemBasket-title-text {
  position: relative;
  z-index: 1;
  cursor: pointer;
  color: #000;
}

.ItemBasket-title-text:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: -1px;
  left: 0;
  display: none;
  z-index: 0;
}

.ItemBasket-title-text:hover:after {
  display: block;
}

.ItemBasket-right {
  padding: 20px 20px 20px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ItemBasket-cell {
  min-width: 95px;
  text-align: right;
  font-size: 18px;
  white-space: nowrap;
}
