.Header {
  height: 40px;
  padding: 0 20px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #DCDCDC;
}

.Header-btn {
  width: 59px;
  height: 21px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 14px;
  color: #000;
  margin-left: 10px;
}

.Header-nav {
  color: #0087E9;
  font-size: 13px;
}
