.CommentsItem {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #000000;
  margin-top: 30px;
  list-style: none;
}

.CommentsItem-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
}

.CommentsItem-name {
  font-weight: 700;
}

.CommentsItem-date {
  color: #666666;
}

.CommentsItem-text {
  font-size: 14px;
  margin-bottom: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.CommentsItem-btn {
  border: none;
  padding: 0;
  color: #0087E9;
  background-color: white;
  cursor: pointer;
}

.CommentsItem-reply-form {
  margin-top: 10px;
}


